
/*
  specify the scroll x (or y) with the width (or height) of the images
  In this case, the image dimension is :
  width: 1920px;
  height: 808px;
*/

@keyframes bgScroll {
  0% {
    background-position : 0px 0px
  }
  100% {
    background-position : -1616px -1616px
  }
}

.scrollingBG {
  display:block;
  width:100%;
  height:100%;
  background-image:url("https://emoji-page.einfachtobi.com/img/emoji.png");
  background-size: cover;
  animation: bgScroll 20s linear infinite;
}

html, body {
    overflow: auto;
}