@keyframes bgScroll {
  0% {
    background-position : 0px 0px
  }
  100% {
    background-position : -1430px -1430px
  }
}

.scrollingBG {
  display:block;
  width:100vw;
  height:100vh;
  background-image:url("https://👍💩.ws/img/emoji.png");
  
  animation: bgScroll 20s linear infinite;
}

html, body {
    margin: 0; height: 100%; overflow: hidden
}

.infotext {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Arial Black", Gadget, sans-serif;
font-size: 36px;
letter-spacing: 2px;
word-spacing: 2px;
color: #FFFFFF;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: uppercase;
-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
